/* Navbar and top slides */
#top-section{
  background-color: #004a2f;
}

#navigation{
  background-color: white;
  color: #fff0a5;
  padding: 1rem 0;
}

.nav-image{
  width: 350px;
  height: 120px;
}

.navbar-brand{
  width: 35%;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

/* Featured Properties Slides */

.featured-slides{
  text-align: center;
  padding: 5rem 0 8rem;
}

.featured-image{
   width: 55%;
   height: 500px;
}

.slide-text{
  color:  #fff0a5;
}
